@import "./globalStyles.css";
body{
    overflow: hidden;
}
.container-login{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.content-login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

}

.form-rectangle:nth-child(1){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 428px;
    height: 421.51px;
    position: absolute;
    top: -22vh;
    /* transform: translateY(-100%); */

}
.form-rectangle:nth-child(2){
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 428px;
    height: 719px;
    position: absolute;
    top: 89vh;

    /* transform: translateY(110%); */
}

.content-login__form{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
}
.content-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.input-email{
    background: rgba(51, 51, 51, 0.06);
border-radius: 4px 4px 0px 0px;
width: 336px;
height: 56px;
padding-left: 5%;
font-family: var(--font-texts);
}
.input-senha{
    background: rgba(51, 51, 51, 0.06);
border-radius: 4px 4px 0px 0px;
width: 336px;
height: 56px;
padding-left: 5%;
font-family: var(--font-texts);
}