@import "./globalStyles.css";
@import "animationStep.css";
body{
    overflow: hidden;
}
.container-login{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.content-login{
    width: 100%;
      height: calc(100vh - 99px);
    display: flex;
    justify-content: center;
    align-items: center;


}
.first-rectangle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease-in-out;


}

#rectangle-top{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: absolute;
    top: -80vh;


}
.animation-step__top{
 animation: stepByStepTop 0.8s ease-in-out forwards;   
}
.register-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
height: 100%;
}
.dont-account{
    font-family:var(--font-texts);
font-weight: 400;
font-size: 16px;
color: var(--white-bg-color);
text-decoration:underline;
letter-spacing: -0.408px;
position: absolute;
bottom: 20px;
z-index: 2;
}
#rectangle-bot{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
transform: translateY(90%);
bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* transform: translateY(110%); */

}
.animation-step__bot{
    animation: stepByStepBot 0.8s ease-in-out forwards;

   }
.content-login__form{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 65%;
flex-direction: column;
gap: 60px;
}
.content-img{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.input-email{
    background: rgba(51, 51, 51, 0.06);
border-radius: 4px 4px 0px 0px;
width: 336px;
height: 56px;
padding-left: 4%;
caret-color: var(--third-bg-color);
border-bottom:2px solid var(--gray-bg-color) ;
font-family: var(--font-texts);
padding-top: 2%;


}
.input-email::placeholder{
    color:transparent;
}
.input-email:focus + .label-email, .input-email:not(:placeholder-shown) + .label-email{
    transform: translateY(-1em) scale(0.8);
    color: var(--third-bg-color);

    
}
.input-email:focus,.input-email:not(:placeholder-shown){
border-bottom:2px solid var(--third-bg-color) ;

}
.label-email{
    position: absolute;
    left: 0;
font-family: var(--font-texts);
color: var(--gray-bg-color);
padding-left: 5%;
transform-origin:0 0 ;

}
.input-senha{
    background: rgba(51, 51, 51, 0.06);
border-radius: 4px 4px 0px 0px;
width: 336px;
height: 56px;
padding-left: 4%;
caret-color: var(--third-bg-color);
border-bottom:2px solid var(--gray-bg-color) ;
font-family: var(--font-texts);
padding-top: 2%;
}
.label-senha{
    position: absolute;
    left: 0;
font-family: var(--font-texts);
color: var(--gray-bg-color);
padding-left: 5%;
transform-origin:0 0 ;

}
.input-senha::placeholder{
    color:transparent;
}
.input-senha:focus + .label-senha, .input-senha:not(:placeholder-shown) + .label-senha{
    transform: translateY(-1em) scale(0.8);
    color: var(--third-bg-color);

    
}
.input-senha:focus,.input-senha:not(:placeholder-shown){
border-bottom:2px solid var(--third-bg-color) ;

}
.group-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.input-email-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-senha-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.checkbox-conect{
    width: 16px;
    height: 16px;
    border: 1px solid var(--black-bg-color);
    border-radius: 3px;
}
.under-inputs__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.checkbox-div{
    display: flex;
    justify-content: center;
    gap: 3px;
}
.continuar-ligado{
font-family: var(--font-texts);
font-weight: 400;
font-size: 16px;
color: var(--black-bg-color);
}
.not-password{
    font-family: var(--font-texts);
font-weight: 400;
font-size: 16px;
color: var(--gray-bg-color);
}
.enter-button{
    font-family:var(--font-subtitle) ;
    color: var(--white-bg-color);
    width: 341px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
background: var(--fourth-bg-color);
border-radius: 3px;
margin-top: 40px;
}
.move-up{
    position: absolute;
    top: -200px;
    transition: all 0.3s ease-in-out;   
}