@import "../globalStyles.css";
@import "../home/home.css";

.user-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.profile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elipse-top__gray{
    position: absolute;
    right: 0;
    z-index: -1;

}
.elipse-mid__pink{
    position: absolute;
    left: 0;
    bottom:25%;
    z-index: -1;
}
.elipse-bot__gray{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;

}
.myData-container{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    padding: 15vh 8vw 0 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.myData-container > img {
    mix-blend-mode: multiply;
}
.date-h1{
    font-family: var(--font-subtitle);
font-weight: 600;
font-size: 32px;
color: #000000;
padding-bottom: 5vh;
}
.userImgProfile{
    max-width: 220px;
    min-width: 120px;
}
.info-date{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-user{
    font-family: var(--font-texts);
    font-weight: 400;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.87);
}
.email-user{
    font-family: var(--font-texts);
    font-weight: 400;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.87);
}
.pets-registered{
    font-family: var(--font-texts);
font-weight: 400;
font-size: 20px;
color: #909090;
padding-top: 3vh;
padding-bottom: 7vh;
}
.edit-button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
width: 100%;
height: 60px;
background: var(--fourth-bg-color);
border: 1px solid var(--third-bg-color);
border-radius: 5px;
/* text */

font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}

/* css da parte de edição de name e user */
.myData-edit__container{
    display: none;
    flex-direction: column;
    padding-top: 15vh;
    padding: 15vh 8vw 0 8vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.input-edit{
    background: rgba(51, 51, 51, 0.06);
border-radius: 4px 4px 0px 0px;
width: 336px;
height: 56px;
padding-left: 4%;
caret-color: var(--third-bg-color);
border-bottom:2px solid var(--gray-bg-color) ;
font-family: var(--font-texts);
padding-top: 2%;


}
.input-edit::placeholder{
    color:transparent;
}
.input-edit:focus + .label-edit, .input-edit:not(:placeholder-shown) + .label-edit{
    transform: translateY(-1em) scale(0.8);
    color: var(--third-bg-color);

    
}
.input-edit:focus,.input-edit:not(:placeholder-shown){
border-bottom:2px solid var(--third-bg-color) ;

}
.label-edit{
    position: absolute;
    left: 0;
font-family: var(--font-texts);
color: var(--gray-bg-color);
padding-left: 5%;
transform-origin:0 0 ;

}
.input-edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-edit__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.confirm-btn{
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 60px;
background: var(--fourth-bg-color);
border: 1px solid var(--third-bg-color);
border-radius: 5px;
/* text */
font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;

color: #FFFFFF;
}
.voltar {
    display: flex;
    gap: 8px;
    font-family: var(--font-subtitle);
    font-weight: 600;
    font-size: 25px;
    color: #952908;
    justify-content: flex-start;
    width: 100%;
}