@import "../globalStyles.css";
@import "./menu.css";
@import "./historico.css";
@import "./selectAnimal.css";
@import "../cadastroPet/register.css";
@import "./analiseAnimatio.css";
@import "./especialistas.css";
html,body{
    overflow-x: hidden;
}
.home-container{
    width: 100%;
    height: 100vh;
}
.header-home__container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}
.header-home__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    width: 100%;
    height: 70px;
    background-color: var(--first-bg-color);
}
.header-img__content{
    display: flex;
    justify-content: space-between;
    bottom: 6px;
    position: relative;
}

.hello-user{
    font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}
.profile-user{
    display: flex;
    align-items: center;
    
}
.menu-burguer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
    position: relative;
    z-index: 999;
    transition: all .25s ease-in-out;
}

.line-burguer1{
    width: 44px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
transition: all .25s ease-in-out;

}
.line-burguer3{
    width: 34px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
transition: all .25s ease-in-out;

}
.line-burguer2{
    width: 24px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
transition: all .25s ease-in-out;

}
.analise-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    gap: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.content-image{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: #F1F1F1 no-repeat center / cover;
border: 1px solid #DDDDDD;
width: 100%;
height: 209.93px;
}
.image-p{
    font-family: var(--font-texts);
font-weight: 400;
font-size: 18px;
color: #B8B8B8;

}
.button-upload{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 5px;
width: 100%;
height: 48px;

border-radius: 5px;
/* text */
font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color:  var(--fourth-bg-color);

}
.analise-description{
    font-family: var(--font-texts);
font-weight: 400;
text-align: center;
font-size: 14px;
color: var(--gray-bg-color);
}

.nav-items__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    background: var(--fourth-bg-color);
    z-index: 9;
    right: 0;
    padding: 8rem 4rem;
    font-family:var(--font-subtitle);
    color: var(--white-bg-color);
    justify-content: space-between;
    font-size: 1.2rem;
    transition: all .25s ease-in-out;
    transform: translateX(100%);
}

.nav-items__container.active{
    transform: translateX(0);
}

.nav-items__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.nav-items__container .nav-item .hamburger__menu-logout-btn{
    display: flex;
    gap: .5rem;
    align-items: center; 
}
.menu-burguer.active{
    background: transparent;
}

.menu-burguer.active .line-burguer1{
    width: 38px;
    transform: rotate(45deg) translate(2px, 5px);
}

.menu-burguer.active .line-burguer2{
    opacity: 0;
}

.menu-burguer.active .line-burguer3{
    width: 38px;
    transform: rotate(-45deg) translate(3px, -6px);
}

.image-true{
    display: none;
    font-family: var(--font-texts);
font-weight: 400;
font-size: 20px;
text-align: center;
color: #FE5433;
}
.lets-go{
    display: none;
flex-direction: row;
justify-content: center;
align-items: center;
width: 100%;
height: 50px;

background: #FE5433;
border: 1px solid #D8491D;
border-radius: 5px;
/* text */
font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}
#animalForm{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}