@import "../globalStyles.css";

.home-container{
    width: 100%;
    height: 100vh;
}
.header-home__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-home__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    width: 100%;
    height: 70px;
    background-color: var(--first-bg-color);
}
.header-img__content{
    display: flex;
    justify-content: space-between;
    bottom: 6px;
    position: relative;
}

.profile-user{
    display: flex;
}
.hello-user{
    font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}
.profile-user{
    display: flex;
    align-items: center;
}
.menu-burguer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
}

.line-burguer1{
    width: 44px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.line-burguer3{
    width: 34px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.line-burguer2{
    width: 24px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.analise-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 35px 0 35px;
}