@import "../globalStyles.css";
@import "./menu.css";
@import "./historico.css";
@import "./selectAnimal.css";
.home-container{
    width: 100%;
    height: 100vh;
}
.header-home__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-home__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    width: 100%;
    height: 70px;
    background-color: var(--first-bg-color);
}
.header-img__content{
    display: flex;
    justify-content: space-between;
    bottom: 6px;
    position: relative;
}

.profile-user{
    display: flex;
}
.hello-user{
    font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}
.profile-user{
    display: flex;
    align-items: center;
}
.menu-burguer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
}

.line-burguer1{
    width: 44px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.line-burguer3{
    width: 34px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.line-burguer2{
    width: 24px;
height: 4px;
background-color:#FFFFFF;
border-radius: 20px;
}
.analise-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 35px 0 35px;
    gap: 18px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.content-image{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
border: 1px solid #DDDDDD;
width: 100%;
height: 209.93px;
}
.image-p{
    font-family: var(--font-texts);
font-weight: 400;
font-size: 18px;
color: #B8B8B8;

}
.button-upload{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 5px;
width: 100%;
height: 48px;

border-radius: 5px;
/* text */
font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
color:  var(--fourth-bg-color);

}
.analise-description{
    font-family: var(--font-texts);
font-weight: 400;
font-size: 14px;
color: var(--gray-bg-color);
}

.nav-items__container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    background: var(--fourth-bg-color);
    z-index: 10;
    right: 0;
    padding: 5rem 4rem;
}