.especialista-container{
    display: none;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
  
}
#map{
    height: 100%;
}

.not-geolocation {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 0;
    align-items: center;
    position: absolute;
    justify-content: center;
}

.not-geolocation > p{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 18px;
text-align: center;
width: 70%;

color: #404040;
}
.not-geolocation > div >p{
    font-family: var(--font-subtitle);
font-weight: 600;
font-size: 18px;
text-align: center;
color: #404040;
}
.location{
    font-family: var(--font-subtitle);
font-weight: 700;
font-size: 18px;
color: #9D2D15;
}


.especialistaIndentifier{
    right: 0;
    left: 0;
    top: 18vh;
    transform: translate(32%,0);
    position: absolute;
    z-index: 1;
    width: 220px;
    display: flex;
    flex-direction: column;
    height: 100px;
}
.white-map{
    background: #FFFFFF;
border-radius: 12px 12px 0px 0px;
display: flex;
justify-content: center;
font-family: var(--font-texts);
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #952908;
height: 100%;
align-items: center;
}
.red-map{
height: 100%;
gap: 5px;
    background: #952908;
border-radius: 0px 0px 12px 12px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.red-map > p {
    font-family: var(--font-subtitle);
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
